.box-input input{
    width: 400px;
    padding: 1rem 0.5rem;
    text-align: center;
    border: none;
    border-radius: 0.3rem;
    box-shadow: 1px 1px 8px #000000;
    background-color: #d2eaf6;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

input:focus{
    box-shadow: 1px 1px 3px #333333;
    border: 0 none;
    outline: 0;
}

::placeholder{
    font-size: 16px;
}

.box-input img{
    width: 2%;
    position: absolute;
    margin: 0.5rem 0 0 1rem;
}

