.container-button{
    width: 80%;
    margin: 2rem auto;
}

.container-button button{
    width: 100%;
    padding: 1rem 0;
    border: none;
    border-radius: 0.3rem;
    transition: 0.5s;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
    color: #ffff;
    background-image: linear-gradient(#16B7D7, #0C58B3);
}

.container-button button:hover{
    scale: 105%;
    background-color: #7cafd1;
}