@font-face {
    font-family: russo;
    src: url('../../assets/font/Russo_One.ttf');
}

.container-header{
    text-align: center;
}

.container-header h1{
    font-family: russo;
    font-size: 35px;
    color: #0E6EBB;
}

.container-header h2{
    margin-top: 0.5rem;
    font-family: russo;
    font-size: 20px;
    color: #0E6EBB;
}

