.container-main{
    width: 40%;
    margin: 3rem auto;
    padding: 1rem 0;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 15px #000;
    background-color: #ffff;
}

@media screen and (max-width: 1000px) {
    .container-main{
        width: 90%;
    }
}